In [5]:
import pandas as pd
import yfinance as yf
import numpy as np
# Function to fetch historical data for a given stock ticker
def get_stock_data(ticker, start_date):
    stock_data = yf.download(ticker, start=start_date)
    return stock_data['Adj Close']

# Function to track portfolio and constituent investments' time series
def track_portfolio(stocks, initial_weights, start_date):
    # Get the index from the first stock
    index = get_stock_data(stocks[0], start_date).index
    # Initialize an empty DataFrame with index from the first stock
    portfolio_value = pd.DataFrame(index=index)

    # Iterate through each time point
    for date in index:
        total_value = 0
        # Iterate through each stock
        for i, stock in enumerate(stocks):
            # Get the stock data for the current date
            stock_data = get_stock_data(stock, start_date)
            if date in stock_data.index:
                # Get the price of the stock for the current date
                price = stock_data.loc[date]
                # Calculate the value of the investment in the current stock
                investment_value = initial_weights[i] * price
                # Add the investment value to the total portfolio value
                total_value += investment_value
        # Set the total portfolio value for the current date
        portfolio_value.loc[date, 'Total'] = total_value

    return portfolio_value

# Define stocks, initial weights, and start date
stocks = ['AAPL', 'MSFT', 'GOOGL']
initial_weights = [0.4, 0.4, 0.2]
start_date = '2020-01-01'

get_stock_data(stocks,start_date)

[*********************100%%**********************]  3 of 3 completed

Ticker            AAPL       GOOGL        MSFT
Date
2020-01-02   74.207466   68.433998  158.205765
2020-01-03   73.486023   68.075996  156.235825
2020-01-06   74.071579   69.890503  156.639694
2020-01-07   73.723213   69.755501  155.211456
2020-01-08   74.909149   70.251999  157.683731
...                ...         ...         ...
2024-02-29  180.750000  138.460007  413.640015
2024-03-01  179.660004  137.139999  415.500000
2024-03-04  175.100006  133.350006  414.920013
2024-03-05  170.119995  132.669998  402.649994
2024-03-06  169.119995  131.399994  402.089996

[1051 rows x 3 columns]

In [6]:
returns = get_stock_data(stocks,start_date).pct_change().dropna()
returns

[*********************100%%**********************]  3 of 3 completed

Ticker          AAPL     GOOGL      MSFT
Date
2020-01-03 -0.009722 -0.005231 -0.012452
2020-01-06  0.007968  0.026654  0.002585
2020-01-07 -0.004703 -0.001932 -0.009118
2020-01-08  0.016086  0.007118  0.015928
2020-01-09  0.021241  0.010498  0.012493
...              ...       ...       ...
2024-02-29 -0.003693  0.015252  0.014520
2024-03-01 -0.006030 -0.009533  0.004497
2024-03-04 -0.025381 -0.027636 -0.001396
2024-03-05 -0.028441 -0.005099 -0.029572
2024-03-06 -0.005878 -0.009573 -0.001391

[1050 rows x 3 columns]

     AAPL   GOOGL    MSFT
0  4000.0  4000.0  2000.0

In [18]:
pd.DataFrame(initial_value)

     AAPL   GOOGL    MSFT
0  4000.0  4000.0  2000.0

Ticker          AAPL     GOOGL      MSFT
Date
2020-01-03 -0.009722 -0.005231 -0.012452
2020-01-06 -0.001754  0.021423 -0.009867
2020-01-07 -0.006457  0.019491 -0.018985
2020-01-08  0.009630  0.026609 -0.003056
2020-01-09  0.030870  0.037107  0.009436
...              ...       ...       ...
2024-02-29  1.117957  0.936169  1.176428
2024-03-01  1.111927  0.926636  1.180924
2024-03-04  1.086545  0.899000  1.179529
2024-03-05  1.058104  0.893900  1.149957
2024-03-06  1.052226  0.884328  1.148566

[1050 rows x 3 columns]

In [39]:
initial_investment = 10000
stocks = ['AAPL', 'GOOGL','MSFT']
initial_weights = [0.4, 0.4, 0.2]
initial_value = {}
for i,x in enumerate(stocks):
    initial_value[x] = [initial_investment * initial_weights[i]]
initial_value
returns = get_stock_data(stocks,start_date).pct_change().dropna()
constitutents_breakdown = pd.DataFrame((np.array(returns.cumsum()) + 1)* np.array(pd.DataFrame(initial_value)), index = returns.cumsum().index, columns = returns.cumsum().columns)
constitutents_breakdown['portfolio_value'] = constitutents_breakdown[constitutents_breakdown.columns].sum(axis = 1)
constitutents_breakdown

[*********************100%%**********************]  3 of 3 completed

Ticker             AAPL        GOOGL         MSFT  portfolio_value
Date
2020-01-03  3961.112098  3979.074628  1975.096480      9915.283206
2020-01-06  3992.985153  4085.691153  1980.266481     10058.942787
2020-01-07  3974.172767  4077.964659  1962.030517     10014.167943
2020-01-08  4038.518090  4106.435423  1993.887376     10138.840889
2020-01-09  4123.481035  4148.427285  2018.872955     10290.781275
...                 ...          ...          ...              ...
2024-02-29  8471.827714  7744.676832  4352.855609     20569.360155
2024-03-01  8447.706080  7706.542865  4361.848866     20516.097810
2024-03-04  8346.181033  7595.999091  4359.057113     20301.237237
2024-03-05  8232.417222  7575.601403  4299.913090     20107.931715
2024-03-06  8208.904407  7537.310779  4297.131530     20043.346716

[1050 rows x 4 columns]

In [40]:
constitutents_breakdown_pct = constitutents_breakdown
constitutents_breakdown_pct.iloc[:, :-1] = constitutents_breakdown_pct.iloc[:, :-1].div(constitutents_breakdown_pct['portfolio_value'], axis=0)
constitutents_breakdown_pct

Ticker          AAPL     GOOGL      MSFT  portfolio_value
Date
2020-01-03  0.399496  0.401307  0.199197      9915.283206
2020-01-06  0.396959  0.406175  0.196866     10058.942787
2020-01-07  0.396855  0.407220  0.195925     10014.167943
2020-01-08  0.398321  0.405020  0.196658     10138.840889
2020-01-09  0.400697  0.403121  0.196183     10290.781275
...              ...       ...       ...              ...
2024-02-29  0.411866  0.376515  0.211618     20569.360155
2024-03-01  0.411760  0.375634  0.212606     20516.097810
2024-03-04  0.411117  0.374164  0.214719     20301.237237
2024-03-05  0.409411  0.376747  0.213842     20107.931715
2024-03-06  0.409558  0.376051  0.214392     20043.346716

[1050 rows x 4 columns]